<h1>Editing testy</h1>

<% form_for(@testy) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= text_field_with_auto_complete :testy, :first_name, {}, { :method => :get } %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= text_field_with_auto_complete :testy, :last_name, {}, { :method => :get } %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :some_flag %><br />
    <%= f.check_box :some_flag %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @testy %> |
<%= link_to 'Back', testies_path %>
