<p>
  <b>First name:</b>
  <%=h @testy.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @testy.last_name %>
</p>

<p>
  <b>Address:</b>
  <%=h @testy.address %>
</p>

<p>
  <b>Some flag:</b>
  <%=h @testy.some_flag %>
</p>


<%= link_to 'Edit', edit_testy_path(@testy) %> |
<%= link_to 'Back', testies_path %>